/* ----home-page-design-css-start--- */
.banner-item {
  margin-bottom: 40px;
}
.banner-item img {
  width: 1140px;
  height: auto;
}
.banner-item .owl-nav .owl-prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease-out;
  width: 30px;
  cursor: pointer;
  height: 30px;
  position: absolute;
  display: block;
  z-index: 1000;
}

.banner-item .owl-nav .owl-next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease-out;
  width: 30px;
  cursor: pointer;
  height: 30px;
  position: absolute;
  display: block;
  z-index: 1000;
}

.fa-chevron-left:before {
  content: "\f053";
  font-size: 30px;
  color: var(--sky-blue);
}

.fa-chevron-right:before {
  content: "\f054";
  font-size: 30px;
  color: var(--sky-blue);
}

.banner-item .owl-dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.banner-item .owl-dots .owl-dot {
  background: var(--less-brown);
  width: 15px;
  height: 15px;
  margin-right: 14px;
  border-radius: 50%;
  border: 1px solid var(--sky-blue);
  outline: 2px solid var(--white);
  outline-offset: -3px;
  background-color: rgb(255, 247, 247);
  box-shadow: rgba(246, 246, 253, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.banner-item .owl-dots .owl-dot.active {
  background: var(--sky-blue);
  border: 4px solid rgb(28, 3, 255);
}

.banner-item .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.musashikosugi-Office-heading-content h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--sky-blue);
  margin-bottom: 20px;
  padding-left: 40px;
}

.musashikosugi-Office-heading-content p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: var(--light-black);
}
.single-content-box {
  border: 1px solid var(--sky-blue);
  padding: 15px 10px;
  line-height: 26px;
  text-align: center;
}
.single-content-box h1 {
  font-size: 16px;
  line-height: 20px;
  color: var(--sky-blue);
}
.single-content-box p {
  font-size: 16px;
  color: var(--light-black);
}

.single-content-box-bottom-content h1 {
  font-size: 20px;
  color: var(--sky-blue);
  line-height: 26px;
  font-weight: 600;
  padding-left: 40px;
}
.single-content-box-bottom-content p {
  font-size: 16px;
  line-height: 27px;
  color: var(--light-black);
  margin: 10px 0px 20px 0px;
}
/* ----home-page-design-css-end--- */

/* ================= */
.banner-bottom-section {
  background-color: #f9ecc9;
}
.banner-bottom-tittle {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.banner-bottom-tittle p {
  color: var(--light-black);
  font-size: 15px;
  line-height: 25px;
}
.banner-bottom-tittle a {
  line-height: 25px;
  color: var(--sky-blue);
  margin-right: 10px;
  font-size: 15px;
}
.banner-bottom-tittle a :hover {
  text-decoration: underline;
  color: rgb(0, 68, 255);
}

.gretting-description p {
  font-size: 16px;
  color: var(--light-black);
  margin-bottom: 20px;
  line-height: 26px;
}
.banner-bottom-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 50px;
}
.map {
  display: flex;
  justify-content: center;
}
.company-address {
  margin-top: 20px;
}

/* ========================= */
.employe-member {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 40px;
  gap: 20px;
}
.employe-member .staff-info {
  /* width: 500px; */
}
.staff-info :nth-child(1){
 font-size: 25px;
 color: var( --golden);
 font-weight: 600;
 line-height: 25px;
}
.staff-info :nth-child(2){
  font-size: 15px;
  color: #333333;
  font-weight: 600;
  line-height: 25px
 }
 .staff-info :nth-child(3){
  font-size: 15px;
  color: var(--golden);
  line-height: 25px
 }
 .sidebar-contac-wraper{
  margin-top: 20px;
  border: 1px solid var(--sky-blue);
 }
 .sidebar-contac-box-img img{
  width: 100%;
  margin-bottom: 15px;
 }
 .tel-link{

 }
 .tel-link i{
 display: flex;
 justify-content: center;
 gap: 5px;
  font-size: 20px;
  font-weight: 600;
  color:navy;
  padding: 0px 10px;
  
 }
 .tel-link p{
  font-weight: 600;
  text-align: center;
  color:navy;
  padding: 0px 10px;
  margin-bottom: 15px;

 }
 .sidebar-banner-wraper{
  
  
  

 }
 .sidebar-banner-area-item{
  margin-top: 20px;
  padding: 15px 0px;
  border: 1px solid var(--golden);
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
 
 }
 .sidebar-banner-area-item i{
  color: var(--golden);
  font-size: 15px;
  margin-right: 10px;
 }
 .sidebar-banner-area-item p{
  font-size: 15px;
  color: var(--golden);
  font-weight: 600;

 }
 .sidebar-banner-area-item img{

 }
.sidebar-seminar-box{
  background-color: var(--sky-blue);
  padding: 15px 0px;
  margin-top: 20px;
}
.sidebar-seminar-box i{
  font-size: 15px;
  color: var(--white);
  margin-right: 10px;


}
.sidebar-seminar-box p{
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--white);

}
.sidebar-seminar-sub-box{
 border-bottom: 1px dotted var(--sky-blue);
 padding: 0px 5px;
padding: 10px 10px;
}
.sidebar-seminar-sub-box:hover {
  background-color: #EAF5FF;
  
}
.sidebar-seminar-sub-box a{
  font-size: 15px;
  color: #800080;
  line-height: 25px;
}
.sidebar-seminar-sub-box:hover.sidebar-seminar-sub-box a, .sidebar-seminar-sub-box i{
  color: #191970;
}
.sidebar-seminar-sub-box i{
  font-size: 15px;
  color: #800080;
}
.sidebar-seminar-sub-def-item{
  padding: 0px 10px;
  margin-top: 5px;
}
.sidebar-seminar-sub-def-item a{
  color: var(--black);
  font-size: 15px;
}
.sidebar-seminar-sub-def-item i{
  color: var(--black);
  font-size: 15px;
}
/* =============================== */
/* .groupt{
 
    table-layout: fixed;
    width: 100%;
    height: 300px;

} */

.group-heading-txt{

}
.group-heading-txt p{
   margin-bottom: 15px;
 font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: var(--black);
}



